<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>zhangsan</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.bsl.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/servlet/ServletDemo1</url-pattern>
    <url-pattern>/skl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitParameter</servlet-name>
    <servlet-class>com.bsl.servlet.InitParameter</servlet-class>
    <init-param>
      <param-name>college</param-name>
      <param-value>职业技术学院</param-value>
    </init-param>
    <init-param>
      <param-name>course</param-name>
      <param-value>java</param-value>
    </init-param>
    <init-param>
      <param-name>count</param-name>
      <param-value>10000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParameter</servlet-name>
    <url-pattern>/InitParameter</url-pattern>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
</web-app>